<%- include header %>
<%- include nav %>
<div class="container">
<%- include flash %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<div class="blog-post">
 <p><h2 class="blog-post-title"><%= post.title %></h2><a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a></p>
<p>
  <%#user存在代表用户登录，user.name == post.name代表登录的用户正是发布这篇文章的用户，两者同时满足时才能进行编辑和删除操作#%>
  <% if (user && (user.name == post.name)) { %>
  	<span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
  	<span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
  <% } %>
</p>
<p class="blog-post-meta">
  作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
  日期：<%= post.time.minute %>
  标签：
  <% if (post.tags) { %>
  	<% post.tags.forEach(function (tag, index) { %>
  		<% if (tag) { %>
  			<a class="label label-success" href="/tags/<%= tag %>"><%= tag %></a>
  		<% } %>
  	<% }) %>
  <% } %>
</p>
<p><%- post.post %></p>
<p class="blog-post-meta">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
<%- include comment%>
</div>
<!-- /.blog-main -->
</div>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <%- include sidebar_about %>
  <%- include sidebar_archive %>
  <%- include sidebar_tags %>
</div><!-- /.blog-sidebar -->
<!-- /.row -->
</div>
<!-- /.container -->
</div>
<%- include footer %>