<br />
<% if(post.comments){ %>
  <% post.comments.forEach(function (comment, index) { %>
    <div style="padding-left:4em">
    <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="blog-post-meta"> 回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
  </div>
  <% }) %>
<% } %>
<form role="form" method="post" action="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
<% if (user) { %>
  <div  class="form-group">
    <label for="comment-name">姓名：</label>
    <input id="comment-name" type="text" name="name" value="<%= user.name %>">
  </div>
  <div  class="form-group">
    <label for="comment-email">邮箱：</label>
    <input id="comment-email" type="text" name="email" value="<%= user.email %>">
    <span>（不会公开）</span>
  </div>
  <div  class="form-group">
    <label for="comment-site">网址：</label>
    <input id="comment-site" type="text" name="website" value="/u/<%= user.name %>">
  </div>
<% } else { %>
  <div  class="form-group">
    <label for="comment-name">姓名：</label>
    <input id="comment-name" type="text" name="name">
  </div>
  <div  class="form-group">
    <label for="comment-email">邮箱：</label>
    <input id="comment-email" type="text" name="email">
    <span>（不会公开）</span>
  </div>
  <div  class="form-group">
    <label for="comment-site">网址：</label>
    <input id="comment-site" type="text" name="website" value="http://">
  </div>
  <% } %>
  <div  class="form-group">
    <label for="comment-post">正文：</label>
    <textarea id="comment-post" class="form-control" name="post" rows="5" cols="80" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">留言</button>
</form>