<%- include header %>
<%- include nav %>
<form method="post" action="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
  标题：<br />
  <input type="text" name="title" value="<%= post.title %>"><br />
  标签：<br />
  <input type="text" name="tag1" value="<%= post.tags[0] %>">
  <input type="text" name="tag2" value="<%= post.tags[1] %>">
  <input type="text" name="tag3" value="<%= post.tags[2] %>"><br />
  正文：<br />
  <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
  <input type="submit" value="保存修改" />
</form>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>