<%- include header %>
<%- include nav %>
<div class="container">
<%- include flash %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<ul style="list-style:none">
  <li><h3><a href="https://github.com/seed-fe">我的github主页</a></h3>star me or give some suggestions</li>
  <li><h3><a href="http://devdocs.io/">可以查很多文档的网站</a></h3>适合前端程序员</li>
</ul>
<!-- /.blog-main -->
</div>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <%- include sidebar_about %>
  <%- include sidebar_archive %>
  <%- include sidebar_tags %>
</div><!-- /.blog-sidebar -->
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>