<%- include header %>
<%- include nav %>
<div class="container">
<%- include flash %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<ul class="archive">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <% if(lastYear != post.time.year) { %>
    <li><h3><%= post.time.year %></h3></li>
  <% lastYear = post.time.year } %>
    <li><time><%= post.time.day %></time></li>
    <li><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
<% }) %>
</ul>
<!-- /.blog-main -->
</div>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
<%- include sidebar_about%>
  <%- include sidebar_tags %>
</div><!-- /.blog-sidebar -->
<!-- /.row -->
</div>
<!-- /.container -->
</div>
<%- include footer %>