<%- include header %>
<%- include nav %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<% posts.forEach(function (tag, index) { %>
  <a class="label label-success" href="/tags/<%= tag %>"><%= tag %></a>
<% }) %>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>