<%- include header %>
<%- include nav %>
<div class="container">
<%- include flash %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<% posts.forEach(function (tag, index) { %>
  <a class="label label-success" href="/tags/<%= tag %>"><%= tag %></a>
<% }) %>
<!-- /.blog-main -->
</div>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
<%- include sidebar_about%>
  <%- include sidebar_archive %>
</div><!-- /.blog-sidebar -->
<!-- /.row -->
</div>
<!-- /.container -->
</div>

<%- include footer %>