<%- include header %>
<%- include nav %>
<div class="row" id="main_body">
      <div class="col-sm-8 blog-main">
<div class="blog-post">
<% posts.forEach(function (post, index) { %>
  <p><h2 class="blog-post-title"><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2><a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a></p>
  <p class="blog-post-meta">
    作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
    日期：<%= post.time.minute %>
    标签：
    <% if (post.tags) { %>
    	<% post.tags.forEach(function (tag, index) { %>
    		<% if (tag) { %>
    			<a class="label label-success" href="/tags/<%= tag %>"><%= tag %></a>
    		<% } %>
    	<% }) %>
    <% } %>
  </p>
  <p><%- post.post %></p>
  <p class="blog-post-meta">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
<% }) %>
</div>
<%- include paging %>
<!-- /.blog-main -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</div>
<%- include footer %>